body {
    font-family: Arial, sans-serif;
    margin: 10px; /* Mantén un margen de 150px en todos los lados */
    padding: 0;
    background-color: #679fc5; /* Color de fondo opcional */
}

header h1 {
    margin: 0; /* Elimina el margen predeterminado del elemento h1 */
    font-weight: bold; /* Hace el texto del h1 más grueso */
    font-size: 40px; /* Aumenta el tamaño de la fuente para hacerlo más prominente */
}

header {
    display: flex;
    flex-direction: column; /* Alinea los elementos en columna */
    align-items: center; /* Centra los elementos horizontalmente */
    background-color: rgb(255, 208, 0); /* Color de fondo naranja */
    color: rgb(25, 0, 255); /* Color del texto blanco para contraste */
    padding: 20px 0; /* Espaciado en el eje vertical */
    font-family: 'Arial Rounded MT Bold', serif; /* Aplica la fuente Roboto Slab */
}

.title-container,
.subtitle-container {
    margin-bottom: 10px; /* Agrega un margen inferior para separar el título del subtítulo */
}

.title-container h1,
.subtitle-container h5 {
    margin: 0; /* Elimina el margen predeterminado de los elementos h1 y h5 */
}

#anuncios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espacio entre anuncios */
}

.anuncio {
    border: 1px solid #ccc;
    padding: 20px; /* Padding constante para todos los anuncios */
    width: 200px; /* Ancho fijo para cada anuncio */
    text-align: center;
    box-sizing: border-box; /* Asegura que el padding se sume al ancho total del anuncio */
    min-height: 300px; /* Altura mínima para cada anuncio */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distribuye el contenido de manera uniforme */
}

.anuncio img {
    width: 100%; /* Mantiene el ancho de la imagen al 100% del anuncio */
    height: auto; /* Ajusta automáticamente la altura para mantener las proporciones */
}

/* Estilo para el título y el texto del anuncio para asegurar que ocupen suficiente espacio */
.anuncio h2, .anuncio p {
    margin: 0;
    padding: 0;
    line-height: 1.5; /* Mejora la legibilidad */
}

/* Estilos para el footer */
footer {
    margin-top: auto; /* Empuja el footer hacia abajo */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Color de fondo oscuro */
    color: white; /* Color del texto blanco */
    padding: 10px 0; /* Espaciado en el eje vertical */
    width: 100%; /* Asegura que el footer ocupe el ancho completo */
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Para Firefox */
    -ms-overflow-style: none; /* Para Internet Explorer y Edge */
    width: 100%; /* Asegura que el contenedor tenga un ancho definido */
    max-width: 1690px; /* O cualquier ancho que sea apropiado para tu diseño */
}

.carousel::-webkit-scrollbar {
    display: none; /* Para Chrome, Safari y Edge (versión basada en Chromium) */
}

/* Asegúrate de que los elementos internos sean tratados como bloques de nivel de bloque */
.carousel > div {
    display: inline-flex; /* Cambia a inline-flex para alinear los elementos horizontalmente */
    flex-shrink: 0; /* Evita que los elementos se encogen */
    min-width: 100px; /* Define un ancho mínimo para evitar que los elementos se colapsen */
}


.slide {
    flex: 0 0 auto;
    scroll-snap-align: start;
    width: 100%;
    text-align: center;
    padding: 10px; /* Reduce el padding para acercar los contenidos */
    margin-right: 10px; /* Añade un margen derecho para separar los slides */
}

.slide:last-child {
    margin-right: 0; /* Elimina el margen derecho del último slide */
}

.slide img {
    max-width: 100%;
    height: auto;
}

/* Animación para el desplazamiento horizontal */
@keyframes scroll-horizontal {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

.carousel .slide {
    animation: scroll-horizontal 20s linear infinite;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto; /* Centra el formulario */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: none; /* Evita que el usuario redimensione el área de texto */
}

form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

section {
    display: flex; /* Habilita Flexbox */
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

section h2 {
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

section ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Cambia a Flexbox para centrar los elementos del lista */
    justify-content: center; /* Centra los elementos del lista horizontalmente */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas si es necesario */
}

section li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px; /* Agrega margen inferior para dar espacio entre las líneas */
}

section a {
    text-decoration: none;
    color: #007bff;
    transition: color 0.3s ease;
}

section a:hover {
    color: #0056b3;
}
